.App {
  text-align: center;
}

.button {
  border: 1px solid #fff;
  background: #eee;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: block;
}

.preview {
  margin: 0 auto;
  max-width: 300px;
}